/*******************************************************************************
 * Theme (light only, HSLU corporate design)
 ******************************************************************************/

:root {
  color-scheme: light;
  --global-bg-color: #{$hslu-white};
  --global-code-bg-color: #{$hslu-grey};
  --global-text-color: #{$hslu-black};
  --global-text-color-light: #{$hslu-black};
  --global-theme-color: #{$hslu-black};
  --global-hover-color: #{$hslu-black};
  --global-hover-text-color: #{$hslu-black};
  --global-accent-color: #{$hslu-blau};
  --global-accent-light-color: #{$hslu-blau-hell-2};
  --global-link-underline-color: #{$hslu-blau-dunkel-1};
  --global-focus-color: #{$hslu-blau-dunkel-2};
  --global-footer-bg-color: #{$hslu-blau-hell-1};
  --global-footer-text-color: #{$hslu-black};
  --global-footer-link-color: #{$hslu-black};
  --global-distill-app-color: #{$hslu-black};
  --global-divider-color: rgba(0, 0, 0, 0.15);
  --global-card-bg-color: #{$hslu-white};
  --global-highlight-color: #{$hslu-black};
  --global-back-to-top-bg-color: #{$hslu-grey};
  --global-back-to-top-text-color: #{$hslu-black};
  --global-newsletter-bg-color: #{$hslu-white};
  --global-newsletter-text-color: #{$hslu-black};

  --global-tip-block: #{$hslu-gruen};
  --global-tip-block-bg: #{$hslu-gruen-hell-1};
  --global-tip-block-text: #{$hslu-black};
  --global-tip-block-title: #{$hslu-black};
  --global-warning-block: #{$hslu-gelb};
  --global-warning-block-bg: #{$hslu-gelb-hell-1};
  --global-warning-block-text: #{$hslu-black};
  --global-warning-block-title: #{$hslu-black};
  --global-danger-block: #{$hslu-magenta};
  --global-danger-block-bg: #{$hslu-magenta-hell-1};
  --global-danger-block-text: #{$hslu-black};
  --global-danger-block-title: #{$hslu-black};

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}
